@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

main {
    background-color: hsl(0, 0%, 8%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
}

footer {
    background-color: hsl(0, 0%, 8%);
    height: 5vh;
}

section {
    background-color: hsl(0, 0%, 12%);
    max-width: 24rem;
    padding: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    border-radius: 0.75rem;
}

img {
    height: 5.5rem;
    width: 5.5rem;
    border-radius: 62.438rem;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 150%;
}

.text {
    font-family: "Inter", sans-serif;
    font-size: 0.875rem;
    line-height: 150%;
}

.location {
    color: hsl(75, 94%, 57%);
    font-weight: 700;
}

.bio {
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 19rem;
}

.button {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    background-color: hsl(0, 0%, 20%);
    box-sizing: border-box;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.button:hover, .button:focus {
    color:  hsl(0, 0%, 20%);
    background-color: hsl(75, 94%, 57%);
    cursor: url(assets/images/cursor-hand.png), pointer;
}

footer {
    color: hsl(0, 0%, 100%);
    text-align: center;
}

footer>a {
    color: hsl(75, 94%, 57%);
}